<%- include ('../layouts/header.ejs') %>


    <style>
        .col-sm-6 {
            margin-left: 115px;
        }
    </style>

    <div class="page-wrapper">
        <header class="header">

            <div class="header-top">
                <div class="container">
                    <div class="header-left col-lg-7">
                        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                            <div class="container breadcrumbs">
                                <ol class="breadcrumb">
                                    <!-- Breadcrumbs with links -->
                                    <li class="breadcrumb-item">
                                        <a href="/home">
                                            Login
                                        </a>
                                    </li>

                                </ol>
                            </div>
                            <!-- End .container -->
                        </nav>
                        <!-- End .breadcrumb-nav -->
                    </div>

                    <!-- End .header-right -->
                </div>
                <!-- End .container -->

            </div>
            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <img src="/images/ww logo black.jpg" alt="Molla Logo"
                            style="width:72px; height:62px; cursor:pointer;">

                    </div>
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="home" class="sf-with-ul">Home</a>

                                </li>
                                <li>
                                    <a href="category" class="sf-with-ul ">Shoping</a>
                                </li>

                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <li>
                                            <a href="/aboutus">About Us</a>

                                        </li>
                                        <li>
                                            <a href="/aboutus">Contact Us</a>

                                        </li>
                                        <li><a href="/category">Shoping</a></li>
                                        <li><a href="/userprofile">My Account</a></li>
                                        <li><a href="/profileOrders">My Orders</a></li>
                                        <li><a href="/wallet">My Wallet</a></li>

                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/login">Login</a></li>
                                    </ul>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">


                        <a href="wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </div>
            </nav>

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
                style="background-image: url('/images/loginbg1.webp')">
                <div class="container">
                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab"
                                        aria-controls="signin-2" aria-selected="false">Sign In</a>

                                </li>

                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane fade show active" id="login" role="tabpanel"
                                    aria-labelledby="login">


                                    <!-- <form id="login-form" action="/login" method="post">
                                        <div class="form-group">
                                            <label for="signin-email-2">Username or email address *</label>
                                            <input type="text" class="form-control" id="signin-email-2"
                                                name="signin-email" required>
                                            <span class="error-message" id="email-error"
                                                style="color: red; display: none;"></span>
                                        </div>

                                        <div class="form-group">
                                            <label for="signin-password-2">Password *</label>
                                            <input type="password" class="form-control" id="signin-password-2"
                                                name="signin-password" required>
                                            <span class="error-message" id="password-error"
                                                style="color: red; display: none;"></span>
                                        </div>

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                            <a href="/forgotpassword" class="forgot-link">Forgot Your Password?</a>
                                        </div>
                                        <a href="registration" class="register-link">Create New account ?</a>
                                    </form> -->
                                    <form id="login-form" action="/login" method="post">
                                        <div class="form-group">
                                            <label for="signin-email-2">Username or email address *</label>
                                            <input type="text" class="form-control" id="signin-email-2"
                                                name="signin-email" required>
                                            <span class="error-message" id="email-error"
                                                style="color: red; display: none;"></span>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="signin-password-2">Password *</label>
                                            <div class="password-input-wrapper" style="position: relative;">
                                                <input type="password" class="form-control" id="signin-password-2"
                                                    name="signin-password" required>
                                                <i class="fa fa-eye-slash toggle-password" aria-hidden="true" 
                                                   style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
                                            </div>
                                            <span class="error-message" id="password-error"
                                                style="color: red; display: none;"></span>
                                        </div>
                                    
                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                            <a href="/forgotpassword" class="forgot-link">Forgot Your Password?</a>
                                        </div>
                                        <a href="registration" class="register-link">Create New account ?</a>
                                    </form>

                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="/auth/google" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">

                                <p>Thanks for visiting Wrist Wise, where you can find a wide range of stylish
                                    and high-quality watches for every occasion. Whether you're looking for a sleek,
                                    modern design or a classic timepiece, we've got something for everyone. Our watches
                                    are priced affordably, making them accessible to all, without compromising on
                                    quality. Browse through our
                                    collection today and find the perfect watch to match your style!</p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:123456789">+91 8086 86 2233</a>
                                        </div><!-- End .col-sm-6 -->

                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/aboutus">About Us</a></li>
                                    <li><a href="/aboutus">Who we are</a></li>
                                    <li><a href="/aboutus">FAQ</a></li>
                                    <li><a href="/aboutus">Contact us</a></li>
                                    <li><a href="/login">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/aboutus">Payment Methods</a></li>
                                    <li><a href="/aboutus">Money-back guarantee!</a></li>
                                    <li><a href="/aboutus">Returns</a></li>
                                    <li><a href="/aboutus">Shipping</a></li>
                                    <li><a href="/aboutus">Terms and conditions</a></li>
                                    <li><a href="/aboutus">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/login">Sign In</a></li>
                                    <li><a href="/cart">View Cart</a></li>
                                    <li><a href="/wishlist">My Wishlist</a></li>
                                    <li><a href="/profileOrders">Track My Order</a></li>
                                    <li><a href="/aboutus">Contact Us</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2024 Wrist Wise. All Rights Reserved.</p>


                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>

                        <a href="http://Wa.me/+918086862233" class="social-icon social-whatsapp" title="WhatsApp"
                            target="_blank"><i class="icon-whatsapp"></i></a>
                        <a href="https://www.instagram.com/rishhaadh?igsh=MTZzZjh0dnQ2Yzl4eA%3D%3D&utm_source=qr"
                            class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                class="icon-instagram"></i></a>


                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#login-form').on('submit', function (event) {
                event.preventDefault();

                const email = $('#signin-email-2').val();
                const password = $('#signin-password-2').val();

                $.ajax({
                    type: 'POST',
                    url: '/login',
                    data: {
                        'singin-email': email,
                        'singin-password': password
                    },
                    success: function (response) {
                        $('#email-error').hide();
                        $('#password-error').hide();

                        if (response.success) {
                            window.location.href = response.redirectUrl;
                        } else {
                            if (response.error === 'email') {
                                $('#email-error').text('Email not found, check your email.').show();
                            } else if (response.error === 'password') {
                                $('#password-error').text('Password is incorrect.').show();
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Access Denied',
                                    text: 'You are blocked. Please contact Wrist Wise Admins for assistance.',
                                    confirmButtonText: 'OK'
                                });
                            }
                        }
                    },
                    error: function () {
                        alert('An error occurred. Please try again.');
                    }
                });
            });
        });
    </script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Password visibility toggle
            $('.toggle-password').click(function() {
                $(this).toggleClass('fa-eye fa-eye-slash');
                var input = $('#signin-password-2');
                if (input.attr('type') === 'password') {
                    input.attr('type', 'text');
                } else {
                    input.attr('type', 'password');
                }
            });
    
            $('#login-form').on('submit', function (event) {
                event.preventDefault();
    
                const email = $('#signin-email-2').val();
                const password = $('#signin-password-2').val();
    
                $.ajax({
                    type: 'POST',
                    url: '/login',
                    data: {
                        'singin-email': email,
                        'singin-password': password
                    },
                    success: function (response) {
                        $('#email-error').hide();
                        $('#password-error').hide();
    
                        if (response.success) {
                            window.location.href = response.redirectUrl;
                        } else {
                            if (response.error === 'email') {
                                $('#email-error').text('Email not found, check your email.').show();
                            } else if (response.error === 'password') {
                                $('#password-error').text('Password is incorrect.').show();
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Access Denied',
                                    text: 'You are blocked. Please contact Wrist Wise Admins for assistance.',
                                    confirmButtonText: 'OK'
                                });
                            }
                        }
                    },
                    error: function () {
                        alert('An error occurred. Please try again.');
                    }
                });
            });
        });
    </script>
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>


    <%- include ('../layouts/footer.ejs') %>