<%- include ('../layouts/header.ejs') %>

    <div class="page-wrapper">
        <header class="header">

            <div class="header-top">
                <div class="container">
                    <div class="header-left col-lg-7">
                        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                            <div class="container breadcrumbs">
                                <ol class="breadcrumb">
                                    <!-- Breadcrumbs with links -->
                                    <li class="breadcrumb-item">

                                    <li>
                                        <a href="/login"><i class="icon-user"></i>Login</a>
                                    </li>
                                    </li>

                                </ol>
                            </div>
                            <!-- End .container -->
                        </nav>
                        <!-- End .breadcrumb-nav -->
                    </div>

                </div>

            </div>

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>


                        <img src="/images/ww logo black.jpg" alt="Molla Logo"
                            style="width:72px; height:62px; cursor:pointer;">

                    </div>
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li>
                                    <a href="/home" class="sf-with-ul">Home</a>


                                </li>
                                <li>
                                    <a href="category" class="sf-with-ul">Shoping</a>


                                </li>

                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <li>
                                            <a href="/aboutus">About Us</a>

                                        </li>
                                        <li>
                                            <a href="/aboutus">Contact Us</a>

                                        </li>
                                        <li><a href="/category">Shoping</a></li>
                                        <li><a href="/userprofile">My Account</a></li>
                                        <li><a href="/profileOrders">My Orders</a></li>
                                        <li><a href="/wallet">My Wallet</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/login">Login</a></li>
                                    </ul>
                                </li>


                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">


                        <a href="wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>

                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
                style="background-image: url('/images/loginbg11.jpg')">
                <div class="container">
                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab"
                                        aria-controls="signin-2" aria-selected="false">Sign Up</a>
                                </li>

                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="login" role="tabpanel"
                                    aria-labelledby="login">

                                    <form action="/registration" method="post" id="registrationForm">
                                        <div class="form-group">
                                            <label for="fullname">Full Name *</label>
                                            <input type="text" class="form-control" id="fullname" name="fullname"
                                                required>
                                            <div id="fullname-error" class="error-message"
                                                style="color: red; display: none;">Full name must be at least 3
                                                characters long.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email Address *</label>
                                            <input type="email" class="form-control" id="email" name="email"
                                                autocomplete="off" required>
                                            <div id="email-error" class="error-message"
                                                style="color: red; display: none;">Please enter a valid email address.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone Number *</label>
                                            <input type="tel" class="form-control" id="phone" name="phone" required>
                                            <div id="phone-error" class="error-message"
                                                style="color: red; display: none;">Phone number must be 10 digits.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="signup-password">Password *</label>
                                            <div class="password-input-wrapper" style="position: relative;">
                                                <input type="password" class="form-control" id="signup-password"
                                                    name="password" required>
                                                <i class="fa fa-eye-slash toggle-password" aria-hidden="true"
                                                    style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
                                            </div>
                                            <div id="password-error" class="error-message"
                                                style="color: red; display: none;">Password must be at least 6
                                                characters long and must include both letters and numbers..</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="repeat-password">Repeat Password *</label>
                                            <div class="password-input-wrapper" style="position: relative;">
                                                <input type="password" class="form-control" id="repeat-password"
                                                    name="repeat-password" required>
                                                <i class="fa fa-eye-slash toggle-password" aria-hidden="true"
                                                    style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
                                            </div>
                                            <div id="repeat-password-error" class="error-message"
                                                style="color: red; display: none;">Passwords do not match!</div>
                                        </div>
                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                            <a href="/login" class="forgot-link">Already have an account?</a>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">

                                <p>Thanks for visiting Wrist Wise, where you can find a wide range of stylish
                                    and high-quality watches for every occasion. Whether you're looking for a sleek,
                                    modern design or a classic timepiece, we've got something for everyone. Our watches
                                    are priced affordably, making them accessible to all, without compromising on
                                    quality. Browse through our
                                    collection today and find the perfect watch to match your style!</p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:123456789">+91 8086 86 2233</a>
                                        </div><!-- End .col-sm-6 -->

                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/aboutus">About Us</a></li>
                                    <li><a href="/aboutus">Who we are</a></li>
                                    <li><a href="/aboutus">FAQ</a></li>
                                    <li><a href="/aboutus">Contact us</a></li>
                                    <li><a href="/login">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/aboutus">Payment Methods</a></li>
                                    <li><a href="/aboutus">Money-back guarantee!</a></li>
                                    <li><a href="/aboutus">Returns</a></li>
                                    <li><a href="/aboutus">Shipping</a></li>
                                    <li><a href="/aboutus">Terms and conditions</a></li>
                                    <li><a href="/aboutus">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/login">Sign In</a></li>
                                    <li><a href="/cart">View Cart</a></li>
                                    <li><a href="/wishlist">My Wishlist</a></li>
                                    <li><a href="/profileOrders">Track My Order</a></li>
                                    <li><a href="/aboutus">Contact Us</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2024 Wrist Wise. All Rights Reserved.</p>


                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>

                        <a href="http://Wa.me/+918086862233" class="social-icon social-whatsapp" title="WhatsApp"
                            target="_blank"><i class="icon-whatsapp"></i></a>
                        <a href="https://www.instagram.com/rishhaadh?igsh=MTZzZjh0dnQ2Yzl4eA%3D%3D&utm_source=qr"
                            class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                class="icon-instagram"></i></a>


                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.toggle-password').forEach(icon => {
                icon.addEventListener('click', function () {
                    const input = this.previousElementSibling;
                    if (input.type === 'password') {
                        input.type = 'text';
                        this.classList.replace('fa-eye-slash', 'fa-eye');
                    } else {
                        input.type = 'password';
                        this.classList.replace('fa-eye', 'fa-eye-slash');
                    }
                });
            });

            document.getElementById('registrationForm').addEventListener('submit', async function (event) {
                event.preventDefault();
                let isValid = true;

                const fullname = document.getElementById('fullname');
                const fullnameError = document.getElementById('fullname-error');
                if (fullname.value.length < 3) {
                    fullnameError.style.display = 'block';
                    isValid = false;
                } else {
                    fullnameError.style.display = 'none';
                }

                const email = document.getElementById('email');
                const emailError = document.getElementById('email-error');
                const emailRegex = /^[^\s@]+@[^\s@]+\.(com|net|org|edu|gov|mil)$/;
                if (!emailRegex.test(email.value)) {
                    emailError.textContent = 'Enter a valid email address';
                    emailError.style.display = 'block';
                    isValid = false;
                } else {
                    emailError.style.display = 'none';

                    try {
                        const response = await fetch('/check-email', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ email: email.value })
                        });
                        const data = await response.json();
                        if (data.exists) {
                            emailError.textContent = 'This email has already been taken.';
                            emailError.style.display = 'block';
                            isValid = false;
                        }
                    } catch (error) {
                        console.error('Error checking email:', error);
                    }
                }

                const phone = document.getElementById('phone');
                const phoneError = document.getElementById('phone-error');
                const phoneRegex = /^\d{10}$/;
                if (!phoneRegex.test(phone.value)) {
                    phoneError.style.display = 'block';
                    isValid = false;
                } else {
                    phoneError.style.display = 'none';
                }

                const password = document.getElementById('signup-password');
                const passwordError = document.getElementById('password-error');

                const passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{6,}$/;

                if (!passwordRegex.test(password.value)) {
                    passwordError.style.display = 'block'; 
                    isValid = false;
                } else {
                    passwordError.style.display = 'none'; 
                }

                const repeatPassword = document.getElementById('repeat-password');
                const repeatPasswordError = document.getElementById('repeat-password-error');
                if (password.value !== repeatPassword.value) {
                    repeatPasswordError.style.display = 'block';
                    isValid = false;
                } else {
                    repeatPasswordError.style.display = 'none';
                }

                if (isValid) {
                    this.submit();
                }
            });
        });
    </script>

    <%- include ('../layouts/footer.ejs') %>